@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <p class="box-title">Roles</p>
                @Html.ActionLink("Create a new role", "rolecreate", "admin", null, new { @class = "btn btn-xs btn-primary float-right", @style = "margin-top: 4px; margin-right: 4px;" })
            </div>
            <div class="box-content">
                <div class="bs-example" data-example-id="hoverable-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Role Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


